{
  "trailingComma": "es5",
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 90,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "semi": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "importOrder": [
    "^assets/(.*)$",
    "^api(.*)$",
    "^components(.*)$",
    "^contexts/(.*)$",
    "^navigation/(.*)$",
    "^notifications/(.*)$",
    "^screens/(.*)$",
    "^styles(.*)$",
    "^translations/(.*)$",
    "^utils/(.*)$",
    "^[./]"
  ],
  "importOrderBuiltinModulesToTop": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
